@charset "utf-8";
/*样式重置*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0; margin:0;font-family: "微软雅黑",Arial, Helvetica, sans-serif; font-weight:normal;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
body,html{ width: 100%; min-width: 1100px;background:#fff;}
body{width: 100%; }
img{border:0}
ul{list-style:none;}
li{ list-style-type: none;}
a,a:active,a:focus,input,textarea{outline:none;}
a{color:#000; text-decoration:none; cursor:pointer;}
a:hover{color:#000;text-decoration:none;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none;
}

/*公用样式*/
.wid-1200 {
	width: 1200px;
	margin: 0 auto;
}
.ml5{
	margin-left:5px;
}
.mt20 {
	margin-top: 20px;
}
.mt10 {
	margin-top: 10px;
}
.pt10 {
	padding-top:10px;
}
.pt15 {
	padding-top:15px;
}
.pt20 {
	padding-top:20px;
}
/*字体公用样式*/
.fb {
	font-weight: bold;
}
.fz20 {
	font-size: 20px;
}
.fz12 {
	font-size: 12px;
}
.fz13 {
	font-size: 13px;
}
.fz18{
	font-size: 18px;
}
.fz19{
	font-size: 19px;
}
.fz20 {
	font-size: 20px;
}
.fz24 {
	font-size: 24px;
}
.fz26{
	font-size: 26px;
}
.fz34 {
	font-size: 34px;
}
.fz36 {
	font-size: 36px;
}
.fz39 {
	font-size: 39px;
}
.fz17 {
	font-size: 17px;
}
.fz42{
	font-size: 42px;
}
.fz45{
	font-size: 45px;
}
.color333 {
	color: #333;
}
.color888 {
	color:#888888;
}
.color999 {
	color: #999;
}
.color-red {
	color:#ff4151;
}
a.color-red:hover {
	color:#ff4151;
}
.colorC5 {
	color: #c5c5c5;
}
.color-blue {
	color:#1771ff
}
.color-orange {
	color: #ffa04b;
}
.bLeft {
	border-left:1px solid #ebebeb;
}
/*animation start*/
.rightmove{
	animation:rightmove 1s ease both;
	-webkit-animation:rightmove 1s ease both;
	-moz-animation:rightmove 1s ease both;
	-ms-animation:rightmove 1s ease both;
}
@keyframes rightmove{
    0%{opacity:0; filter:alpha(opacity=0);transform:translate(100px,0px)}
    100%{opacity:1; filter:alpha(opacity=100);transform:translate(0,0)}
}
@-webkit-keyframes rightmove{
    0%{opacity:0; filter:alpha(opacity=0);-webkit-transform:translate(100px,0px)}
    100%{opacity:1; filter:alpha(opacity=100);-webkit-transform:translate(0,0)}
}
@-moz-keyframes rightmove{
    0%{opacity:0; filter:alpha(opacity=0);-moz-transform:translate(100px,0px)}
    100%{opacity:1; filter:alpha(opacity=100);-moz-transform:translate(0,0)}
}
@-ms-keyframes rightmove{
    0%{opacity:0; filter:alpha(opacity=0);-ms-transform:translate(100px,0px)}
    100%{opacity:1; filter:alpha(opacity=100);-ms-transform:translate(0,0)}
}
.topmove {
	animation:topmove 1.2s ease both;
	-webkit-animation:topmove 1.2s ease both;
	-moz-animation:topmove 1.2s ease both;
	-ms-animation:topmove 1.2s ease both;
}
@keyframes topmove{
    0%{opacity:0; filter:alpha(opacity=0);transform:translate(0,-100px)}
    100%{opacity:1; filter:alpha(opacity=100);transform:translate(0,0)}
}
@-webkit-keyframes topmove{
    0%{opacity:0; filter:alpha(opacity=0);-webkit-transform:translate(0,-100px)}
    100%{opacity:1; filter:alpha(opacity=100);-webkit-transform:translate(0,0)}
}
@-moz-keyframes topmove{
    0%{opacity:0; filter:alpha(opacity=0);-moz-transform:translate(0,-100px)}
    100%{opacity:1; filter:alpha(opacity=100);-moz-transform:translate(0,0)}
}
@-ms-keyframes topmove{
    0%{opacity:0; filter:alpha(opacity=0);-ms-transform:translate(0,-100px)}
    100%{opacity:1; filter:alpha(opacity=100);-ms-transform:translate(0,0)}
}
.leftmove {
	animation:leftmove 1.2s ease both;
	-webkit-animation:leftmove 1.2s ease both;
	-moz-animation:leftmove 1.2s ease both;
	-ms-animation:leftmove 1.2s ease both;
}
@keyframes leftmove{
    0%{opacity:0; filter:alpha(opacity=0);transform:translate(100px,0)}
    100%{opacity:1; filter:alpha(opacity=100);transform:translate(0,0)}
}
@-webkit-keyframes leftmove{
    0%{opacity:0; filter:alpha(opacity=0);-webkit-transform:translate(100px,0)}
    100%{opacity:1; filter:alpha(opacity=100);-webkit-transform:translate(0,0)}
}
@-moz-keyframes leftmove{
    0%{opacity:0; filter:alpha(opacity=0);-moz-transform:translate(100px,0)}
    100%{opacity:1; filter:alpha(opacity=100);-moz-transform:translate(0,0)}
}
@-ms-keyframes leftmove{
    0%{opacity:0; filter:alpha(opacity=0);-ms-transform:translate(100px,0)}
    100%{opacity:1; filter:alpha(opacity=100);-ms-transform:translate(0,0)}
}
.bottommove {
	animation:bottommove 1.2s ease both;
	-webkit-animation:bottommove 1.2s ease both;
	-moz-animation:bottommove 1.2s ease both;
	-ms-animation:bottommove 1.2s ease both;
}
@keyframes bottommove{
    0%{opacity:0; filter:alpha(opacity=0);transform:translate(0,100px)}
    100%{opacity:1; filter:alpha(opacity=100);transform:translate(0,0)}
}
@-webkit-keyframes bottommove{
    0%{opacity:0; filter:alpha(opacity=0);-webkit-transform:translate(0,100px)}
    100%{opacity:1; filter:alpha(opacity=100);-webkit-transform:translate(0,0)}
}
@-moz-keyframes bottommove{
    0%{opacity:0; filter:alpha(opacity=0);-moz-transform:translate(0,100px)}
    100%{opacity:1; filter:alpha(opacity=100);-moz-transform:translate(0,0)}
}
@-ms-keyframes bottommove{
    0%{opacity:0; filter:alpha(opacity=0);-ms-transform:translate(0,100px)}
    100%{opacity:1; filter:alpha(opacity=100);-ms-transform:translate(0,0)}
}
.floatmove{
	animation:floatmove 2.5s ease-in-out infinite alternate both;
	-webkit-animation:floatmove 2.5s ease-in-out infinite alternate both;
	-moz-animation:floatmove 2.5s ease-in-out infinite alternate both;
	-ms-animation:floatmove 2.5s ease-in-out infinite alternate both;
}
@keyframes floatmove {
    0%{transform:translate(0px,-10px);}
    100%{transform:translate(0px,10px);}
}
@-webkit-keyframes floatmove {
    0%{-webkit-transform:translate(0px,-10px)}
    100%{-webkit-transform:translate(0px,10px)}
}
@-moz-keyframes floatmove {
    0%{-moz-transform:translate(0px,-10px)}
    100%{-moz-transform:translate(0px,10px)}
}
@-ms-keyframes floatmove {
    0%{-ms-transform:translate(0px,-10px)}
    100%{-ms-transform:translate(0px,10px)}
}
.breath1{animation:breath 1.5s ease-in-out infinite alternate both;-webkit-animation:breath 1.5s ease-in-out infinite alternate both;-moz-animation:breath 1.5s ease-in-out infinite alternate both; -ms-animation:breath 1.5s ease-in-out infinite alternate both;}
.breath2{animation:breath 1.8s .3s ease-in-out infinite alternate both;-webkit-animation:breath 1.8s .3s ease-in-out infinite alternate both;-moz-animation:breath 1.8s .3s ease-in-out infinite alternate both; -ms-animation:breath 1.8s .3s ease-in-out infinite alternate both;}
.breath3{animation:breath 2s .6s ease-in-out infinite alternate both;-webkit-animation:breath 2s .6s ease-in-out infinite alternate both;-moz-animation:breath 2s .6s ease-in-out infinite alternate both;-ms-animation:breath 2s .6s ease-in-out infinite alternate both; }
.breath4{animation:breath 1.7s .1s ease-in-out infinite alternate both;-webkit-animation:breath 1.7s .1s ease-in-out infinite alternate both; -moz-animation:breath 1.7s .1s ease-in-out infinite alternate both;-ms-animation:breath 1.7s .1s ease-in-out infinite alternate both;}
.breath5{animation:breath 1.5s .1s ease-in-out infinite alternate both;-webkit-animation:breath 1.5s .1s ease-in-out infinite alternate both; -moz-animation:breath 1.5s .1s ease-in-out infinite alternate both;-ms-animation:breath 1.5s .1s ease-in-out infinite alternate both;}
.breath6{animation:breath 2s ease-in-out infinite alternate both;-webkit-animation:breath 2s ease-in-out infinite alternate both; -moz-animation:breath 2s ease-in-out infinite alternate both;-ms-animation:breath 2s ease-in-out infinite alternate both; }
@keyframes breath {
    0%{transform:translate(0px,-10px);}
    100%{transform:translate(0px,10px);}
}
@-webkit-keyframes breath {
    0%{-webkit-transform:translate(0px,-10px)}
    100%{-webkit-transform:translate(0px,10px)}
}
@-moz-keyframes breath {
    0%{-moz-transform:translate(0px,-10px)}
    100%{-moz-transform:translate(0px,10px)}
}
@-ms-keyframes breath {
    0%{-ms-transform:translate(0px,-10px)}
    100%{-ms-transform:translate(0px,10px)}
}
.lightflicker{
	animation:flicker 1.5s ease-in-out infinite alternate both;
	-webkit-animation:flicker 1.5s ease-in-out infinite alternate both;
	-moz-animation:flicker 1.5s ease-in-out infinite alternate both;
	-ms-animation:flicker 1.5s ease-in-out infinite alternate both;
}
@keyframes flicker {
    0%{opacity:0; filter:alpha(opacity=0);}
    100%{opacity:1; filter:alpha(opacity=100);}
}
@-webkit-keyframes flicker {
    0%{opacity:0; filter:alpha(opacity=0);}
    100%{opacity:1; filter:alpha(opacity=100);}
}
@-moz-keyframes flicker {
    0%{opacity:0; filter:alpha(opacity=0);}
    100%{opacity:1; filter:alpha(opacity=100);}
}
@-ms-keyframes flicker {
    0%{opacity:0; filter:alpha(opacity=0);}
    100%{opacity:1; filter:alpha(opacity=100);}
}
/*animation end*/
html,body{
	width: 100%;
	min-width: 1290px;
	height: 100%;
	background: #f7f7f7;
}
.container-fluid{
	padding: 0;
	margin: 0;
	width: 100%;
}
.header {
	height: 75px;
	width: 1200px;
	margin: 0 auto;
}
.header .logo {
	display: inline-block;
	width: 333px;
	padding: 14px 0;
}
.bg {width: 100%;height: 466px;overflow: hidden;position: relative;background: url(../images/bg.png) center center no-repeat;
}
.bg .banner-box{height: 100%;position: relative;overflow: hidden;z-index: 99;}
/*banner*/
.bg .banner-box .banner1 {position: absolute;top:10%;left: 0;}
.bg .banner-box .banner2 {position: absolute;top:0.2%;left: 36.7%; background: url(../images/banner2.png) center no-repeat;height: 379px;width: 417px;}
.bg .banner-box .banner2 > .shield {position: absolute;top: 90px;left: 109px;
	animation:floatmove 1.5s ease-in-out infinite alternate both;
	-webkit-animation:floatmove 1.5s ease-in-out infinite alternate both;
	-moz-animation:floatmove 1.5s ease-in-out infinite alternate both;
	}
.bg .banner-box .banner2 > .light {position: absolute;top:74px; left: 34px;}
.bg .banner-box .banner3 { position: absolute; bottom:43px; left: 0;}
.bg .login-box{
	width: 314px;
	height: 386px;
	border-radius: 5px;
	position: absolute;
	right: 0;
	top:50%;
	margin-top:-193px;
	background: #fff;
}
.bg .login-box .title{
	font-size: 24px;
	text-align: center;
	letter-spacing:2px;
	background-color: #ff4151;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px 0;
}
.bg .login-box .regist-form{
	padding:15px;
}
.bg .login-box .regist-form .input-group{
	margin-bottom: 15px;
	width: 100%;
}
.bg .login-box .regist-form .checkbox-item{
	margin-bottom: 5px;
}
.bg .login-box .regist-form .regist-btn{
	margin-bottom: 8px;
}
.bg .login-box .regist-form .regist-btn > button{
	background: #ff4151;
	font-size: 20px;
	border:none;
	color: #fff;
}
.bg .login-box .regist-form .tip-msg{
	text-align: center;
}
.bg .login-box .regist-form .input-group .icon{
	position: absolute;
	z-index: 10;
    height: 24px;
	width: 18px;
	/* margin: 5px 0 5px 10px; */
	left:10px;
	margin: 5px 0; 
}
.icon.phoneIcon{
	background: url(../images/phone.png) center no-repeat;
}
.icon.pwdIcon{
	background: url(../images/password.png) center no-repeat;
}
.icon.imgcodeIcon {
	background: url(../images/code.png) center no-repeat;
}
.icon.telcodeIcon {
	background: url(../images/code2.png) center no-repeat;
}
.code-img {
	position: absolute;
	right: 0;
	width: 94px;
	height: 100%;
	border-radius: 4px;
}
.identify-code {
	position: absolute;
	right: 0;
	color: #fff;
	background: #ff4151;
	border:none;
}
.identify-code:hover, .identify-code:focus{
	color: #fff;
}
.bg .login-box .regist-form .input-group .error-msg{
	position: absolute;
	bottom:-15px;
	font-size: 12px;
	height: 15px;
	line-height: 15px;
}
.bg .login-box .regist-form .form-control{
	border-radius: 4px !important;
	padding-left: 35px;
}
/*新手福利*/
.novice-welfare, .hot-recommend, .td-advantage, .develop-history{
	overflow: hidden;
	padding: 20px 0 30px;
	margin-top:20px;
	background: #fff;
}
.novice-welfare .novice-welfare-title,
.hot-recommend .hot-recommend-title,
.td-advantage .td-advantage-title,
.develop-history .develop-history-title
 {
	color: #333333;
	font-size: 24px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 17px;
	padding-left: 31px;
}
.novice-welfare img{
	max-width: 226px;
	height: auto;
}
.novice-welfare .txt{
	font-size: 18px;
	margin-top: 20px;
}
/*热门推荐*/
.hot-recommend {
	padding-bottom: 0;
}
.hot-recommend .hot-recommend-title > small {
	color: #f99e45;
	font-size: 14px;
	margin-left: 20px;
	vertical-align: middle;
}
.hot-recommend .recommend-item {
	padding: 34px 52px;
	overflow: hidden;
	display: block;
}
.hot-recommend .recommend-item .item-title{
	font-size: 22px;
	color: #333;
}
.hot-recommend .recommend-item .item-subject-rate{
	margin-top: 24px;
}
.hot-recommend .recommend-item .item-subject-rate .big-text {
	font-size: 48px;
	height: 54px;
    line-height: 48px;
    color: #ff7800;
}
.hot-recommend .recommend-item .item-subject-rate .big-text > small {
	font-size: 18px;
}
.hot-recommend .recommend-item .item-subject-rate .refer {
	font-size: 12px;
	color: #999;
}
.hot-recommend .item-progress{
	position: relative;
    height: 3px;
    overflow: hidden;
    background: #f2f2f2;
    margin: 35px 0 18px;
}
.hot-recommend .item-progress .progress-bar{
	position: absolute;
	top:0;
	left:0;
	width: 80%;
	background-color: #ff4151;
}
.hot-recommend .subject-limit {
	overflow: hidden;
}
.hot-recommend .join-btn {
	margin-top: 34px;
	width: 85%;
	color: #fff;
	border: none;
	border-radius: initial;
	background: -webkit-linear-gradient(170deg, rgba(255,135,50,.5), rgba(255,135,50,1));
    background: -o-linear-gradient(170deg, rgba(255,135,50,.5), rgba(255,135,50,1));
    background: -moz-linear-gradient(170deg, rgba(255,135,50,.5), rgba(255,135,50,1));
    background: linear-gradient(170deg, rgba(255,135,50,.5), rgba(255,135,50,1));
}
.hot-recommend .join-btn.filled {
	background: transparent;
	color: #999;
	border:1px solid #ebebeb;
}
/*团贷优势*/
.advantage {
	height: 517px;
	width: 100%;
	background: url(../images/advantage.png) center center no-repeat;
	position: relative;
}
.advantage>div{
	position: absolute;
	text-align: center;
	transition: all
}
.advantage .rank {
	top:228px;
	left: 115px;
}
.advantage .rank .tit {
	height: 109px;
	width: 109px;
	text-align: center;
	line-height: 109px;
	background: url(../images/circle1.png) center no-repeat;
	margin:auto;
}
.advantage .stock {
	top:64%;
	left: 28%;
}
.advantage .stock .tit {
	height: 120px;
	width:120px;
	text-align: center;
	line-height: 120px;
	background: url(../images/circle2.png) no-repeat;
	margin:auto;
}

.advantage .grade {
	top: 60%;
	right: 26%;
}
.advantage .grade .tit {
	height: 120px;
	width:120px;
	text-align: center;
	background: url(../images/circle3.png) no-repeat;
	padding-top:14px;
	margin:auto;
}

.advantage .num {
	top: 160px;
	right: 120px;
}
.advantage .num .tit {
	height: 104px;
	width: 104px;
	text-align: center;
	background: url(../images/circle4.png) no-repeat;
	padding-top:30px;
	line-height: 25px;
	margin:auto;
}
.advantage .profess {
	top: 30px;
	right: 290px;
}
.advantage .profess .tit {
	height: 90px;
	width: 90px;
	padding-top: 15px;
	margin:auto;
	text-align: center;
	background: url(../images/circle5.png) no-repeat;
}
.advantage .control {
	top: 47px;
	left:332px
}
.advantage .control .tit {
	height: 92px;
	width: 92px;
	text-align: center;
	padding-top: 15px;
	margin:auto;
	background: url(../images/circle6.png) no-repeat;
}

/*发展历程*/
.develop-history .develops{
	position: relative;
    margin: 0 0 60px 199px;
    padding-top: 30px;
    width: 550px;
}
.develop-history .develops dd {
	position: relative;
    border-left: 1px solid #ff848e;
    padding-bottom: 33px;
}
.develop-history .develops dd:first-child {
	padding-top: 34px;
}
.develop-history .develops dd:last-child {
	padding-bottom: 10px;;
}
.develop-history .develops dd:first-child .time{
	margin-top: 34px;
}
.develop-history .develops .time{
	position: absolute;
    left: -148px;
    top: -12px;
    width: 120px;
    height: 25px;
    line-height: 25px;
    color: #333;
    font-size: 20px;
    text-align: right;
}
.develop-history .develops dd:first-child .point{
	margin-top: 34px;
}
.develop-history .point{
	display: inline-block;
	width: 9px;
	height: 9px;
	border-radius: 100%;
	background-color: #fff;
	border:1px solid #ff848e;
	position: absolute;
	left: -5px;
    top: -4px;
}
.develop-history .event .event-wrapper{
	height: 25px;
    line-height: 25px;
    font-size: 16px;
    border-top: 1px solid #ff848e;
}
.develop-history .event .event-wrapper .event-title{
	position: relative;
    top: -13px;
    margin-left: 34px;
    padding-left: 27px;
    background: #fff;
}
/* 注册领红包 */
.bonus {
	overflow: hidden;
	padding: 35px 0;
}
.bonus .bonus-btn {
	width: 540px;
	height: 80px;
	border-radius: 40px;
	background: -webkit-linear-gradient(rgba(255,65,81,0.4),rgba(255,65,81,1));
	background: -o-linear-gradient(rgba(255,65,81,0.4),rgba(255,65,81,1));
	background: -moz-linear-gradient(rgba(255,65,81,0.4),rgba(255,65,81,1));
	background: linear-gradient(rgba(255,65,81,0.4),rgba(255,65,81,1));
	color: #fff;
	font-size: 28px;
	border: none;
	margin-bottom: 23px;
}
.bonus .bonus-btn:focus{
	outline: none;
}
/*footer*/
.footer{width:100%;height:173px;background:#dfdfdf;}
.footer .mid{width:1200px;height:100%;position:relative;margin:0 auto;}
.footer .foot-msg{width:100%;height:100%;background:url("../images/foot.png?v=20180403001") no-repeat center;position:absolute;left:0px;top:0px;}
.footer .foot-msg p{position: absolute;font-size: 14px;color: #7a7a7a;line-height: 26px; left: 543px; top: 44px;}
/*弹窗*/
.newcomer-packet,
.jdcard-rule,
.newcomer-bbin,
.member-rights {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right:0;
	z-index: 99;
	display: none;
}
.box-body {
	width: 836px;
	height: 650px;
	position: relative;
	top:50%;
	margin: auto;
	margin-top:-325px;
	border-radius: 4px;
	background: #fff;
}
.box-title{
	background: #5896fe;
	width: 100%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.box-title .close {
	height: 28px;
	width: 28px;
	background: url(../images/close.png);
	filter: alpha(opacity=100);
    opacity: 1;
}
.mask {
	position: absolute;;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	background-color:rgba(0,0,0,.5);
}
.box-content {
	padding: 30px 25px;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.box-content .tab {
	padding: 15px 35px;
}
.box-content .tab table {
	width: 100%;
	text-align: center;
}
.box-content table th, .box-content table td{
	text-align: center;
	border: 1px solid #a3a2a3;
	color: #a3a2a3;
	padding: 12px 0; 
}
.box-content .desc{
	line-height: 28px;
}
.box-content .desc .item {
	padding-left:40px;
	position: relative;
}
.box-content .desc .item .order {
	position: absolute;
	left:0;
}
.member-rights .box-body {
	width: 1200px;
}
.box-content .rights-items {
	text-align: left;
	display: inline-block;
	margin-bottom: 30px;
	width: 50%;
	padding:0 15px;
	float: left;
}
.box-content .rights-items .article {
	padding: 30px;
	background: #f7f7f7;
	position: relative;
	padding-left: 130px;
}
.box-content .rights-items img {
	position: absolute;
	left: 30px;
	max-width: 80px;
	height: auto;
	margin:auto;
}
